@model BlogUpdateDto

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h4>Blog Güncelleme</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" method="post" class="w-75 mx-auto p-3" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ImagePath" />
            <div class="form-group">
                <label class="control-label">Başlık</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Kısa Açıklama</label>
                <input asp-for="ShortDescription" class="form-control" />
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
            <div>
                <label class="control-label">Açıklama</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <div class="text-center">
                            <h5>Mevcut Fotoğrafınız</h5>
                            <img src="~/images/@Model.ImagePath" class="w-50" />
                        </div>
                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-4">
                        <div id="photoPreviewDiv" class="text-center" style="display: none !important;">
                            <h5>Seçtiğiniz Fotoğraf</h5>
                            <img src="" class="w-50" id="photoPreview" />
                        </div>
                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-12 mt-1">
                        <label>Fotoğraf Seç</label>
                        <input type="file" class="form-control-file" name="photo" id="photo" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="AppUserId" class="control-label"></label>
                <input asp-for="AppUserId" class="form-control" />
                <span asp-validation-for="AppUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success"><i class="far fa-edit mr-2"></i>Güncelle</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Listeye Geri Dön</a>
</div>

@section Css{
    <link href="~/trumbowyg/dist/ui/trumbowyg.css" rel="stylesheet" />
}

@section Javascript
{
    <script src="~/trumbowyg/dist/trumbowyg.js"></script>
    <script>
        $("#Description").trumbowyg();
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {
            $("#photo").change(function (e) {
                $("#photoPreviewDiv").show();
                $("#photoPreview").attr('src', URL.createObjectURL(e.target.files[0]));
            });
        });
    </script>
}
